<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping</title>
    <link rel="icon" type="image/png" href="static/img/onvicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <!-- Dark mode switch -->
    <div class="theme-switch-wrapper">
        <span id="toggle-icon">
            <span class="toggle-text">Light Mode</span>
            <i class="fas fa-sun"></i>
        </span>
        <label class="theme-switch">
            <input type="checkbox">
            <div class="slider round"></div>
        </label>
    </div>

    <!-- Home -->
    <nav id="nav">
        <a href="#home">Home</a>
        <a href="Onakkodi">Onakkodi</a>
<!--        <a href="#contact">Contact</a>-->
    </nav>
    <section id="home">
        <div class="title-group">
            <h1>Online Store</h1>
            <h2>Happy Onam To All!</h2>
        </div>
    </section>
    <section id="about">
        <h1>Onam</h1>
        <div class="about-container">
            <div class="image-container">
                <h2>Pookalam</h2>
                <p2>Decorate floor with flowers.</p2>
                <img src="static/img/undraw_blooming_light.svg" alt="Proud Coder" id="image1">
            </div>
            <div class="image-container">
                <h2>Games</h2>
                <p>There are many games related to onam.</p>
                <img src="static/img/undraw_children_light.svg" id="image2">
            </div>
            <div class="image-container">
                <h2>Feast</h2>
                <p>The Onam sadya (feast) is another indispensable part of Onam and almost every Keralite either makes or attends one</p>
                <img src="static/img/undraw_eating_together_light.svg" alt="idea" id="image3">
            </div>
        </div>
    </section>
    <section id="projects">
        <div class="text-box" id="text-box">
            <p>Wish you all a euphoric, prosperous, colorful, healthy, wealthy and fun-filled Onam! Let this season brings you all lot of good luck, peace of mind, happiness and all that you wish!</p>
        </div>
    </section>
    <!-- Script -->
    <script src="static/script.js"></script>
    <footer style="text-align:center;background-color:black">
        <h4 style="color:white;margin:0">Copy-right 2022</h4>
    </footer>
</body>
</html>