<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Onam shopping-</title>
         <link rel="icon" type="image/png" href="static/img/onvicon.png">
        <link rel=stylesheet href="static/style.css">
    </head>
    <body style="background-color:#EEF2E6">
     <section id="about">
            <h1 style="font-size:4.7rem">Onakkodi</h1>
            <p style="font-size:2.1rem;padding-bottom:5%">Buy your onakkodi from Amazone</p>
            <div class="about-container">
                <div class="image-container">
                    <h2>{{name}}</h2>
                    <p2>Price={{p}}</p2>
                    <a href="https://www.amazon.in/faust-Festival-Graphic-Printed-XXXX-Large/dp/B0B58ZNY47/ref=sr_1_14?crid=2QOPENV1E85V9&keywords=onam+t+shirts&qid=1662352000&sprefix=onam+t+shirts%2Caps%2C353&sr=8-14"><img src="{{src}}" alt="Proud Coder" class="image1"></a>
                </div>
                <div class="image-container">
                    <h2>{{name1}}</h2>
                    <p>Price={{p1}}</p>
                    <a href="https://www.amazon.in/baby-wish-Festivals-T-Shirt-T-Shirts/dp/B0BC3RHHHB/ref=sr_1_2?crid=2QOPENV1E85V9&keywords=onam+t+shirts&qid=1662351838&sprefix=onam+t+shirts%2Caps%2C353&sr=8-2"><img src="{{src1}}" id="image2"></a>
                </div>
                <div class="image-container">
                    <h2>{{name2}}</h2>
                    <p>Price={{p2}}</p>
                    <a href="https://www.amazon.in/dp/B09TFTZ8R2?pd_rd_i=B09TFTZ8R2&pf_rd_p=d882f7bc-c7c5-4887-b939-1af6f91cc448&pf_rd_r=3R51CCST1T2XCCY1NGNY&pd_rd_wg=OYLH2&pd_rd_w=rMmby&pd_rd_r=883b4c30-cbd6-4f6b-924a-27452a63df48"><img src="{{src2}}" alt="idea" class="image3"></a>
                </div>
            </div>
            <br>
            <br>
            <div class="about-container">
                <div class="image-container">
                    <h2>{{name3}}</h2>
                    <p2>Price={{p3}}</p2>
                    <a href="https://www.amazon.in/faust-Festival-Graphic-Printed-XXXX-Large/dp/B0B58ZNY47/ref=sr_1_14?crid=2QOPENV1E85V9&keywords=onam+t+shirts&qid=1662352000&sprefix=onam+t+shirts%2Caps%2C353&sr=8-14"><img src="{{src3}}" alt="Proud Coder" class="image1"></a>
                </div>
                <div class="image-container">
                    <h2>{{name4}}</h2>
                    <p>Price={{p4}}</p>
                    <a href="https://www.amazon.in/baby-wish-Festivals-T-Shirt-T-Shirts/dp/B0BC3RHHHB/ref=sr_1_2?crid=2QOPENV1E85V9&keywords=onam+t+shirts&qid=1662351838&sprefix=onam+t+shirts%2Caps%2C353&sr=8-2"><img src="{{src4}}" class="image2"></a>
                </div>
                <div class="image-container">
                    <h2>{{name5}}</h2>
                    <p>Price={{p5}}</p>
                    <a href="https://www.amazon.in/dp/B09TFTZ8R2?pd_rd_i=B09TFTZ8R2&pf_rd_p=d882f7bc-c7c5-4887-b939-1af6f91cc448&pf_rd_r=3R51CCST1T2XCCY1NGNY&pd_rd_wg=OYLH2&pd_rd_w=rMmby&pd_rd_r=883b4c30-cbd6-4f6b-924a-27452a63df48"><img src="{{src5}}" alt="idea" class="image3"></a>
                </div>
            </div>
     </section>
    </body>
</html>